<div class="row">
    <div class="lights">
        <div class="red @(RedOn ? "on" : "off")"></div>
        <div class="amber @(AmberOn ? "on" : "off")"></div>
        <div class="green @(GreenOn ? "on" : "off")"></div>
    </div>
</div>
