.lights {
    padding: 1em;
    border: 1px solid grey;
    width: 5.7em;
    background-color: #343a40;
    margin-left: 20px;
    
}

    .lights div {
        margin-bottom: 0.5em;
        border: 2px solid grey;
        width: 4em;
        height: 4em;
        border-radius: 50%;
    }

div.tl-red.on {
    background-color: red;
}

div.tl-amber.on {
    background-color: orange;
}

div.tl-green.on {
    background-color: green;
}

div.blue.on {
    background-color: lightskyblue;
}