<div class="row">
    <div class="lights">
        <div class="tl-red @(RedOn ? "on" : "off")"></div>
        <div class="tl-amber @(AmberOn ? "on" : "off")"></div>
        <div class="tl-green @(GreenOn ? "on" : "off")"></div>
    </div>
</div>
